/Downloads
/Documents
/Movies
/Music
/Pictures
/Books
/Cathy
/Comics
/Desktop
/Library
/Sites/
/code
/Public
.serverauth*
.Trash

#--------------------------------------------------------------------------------
# Ignore everything
#--------------------------------------------------------------------------------
#*
#!*/
#!.gitignore
/.*/
#--------------------------------------------------------------------------------
#!.bash*
#!.profile
#!.emacs
#!.emacs.d/*
!.emacs.d/
#!.inputrc
#!.gitignore_global
#!.vim*
#.viminfo

#--------------------------------------------------------------------------------
# EMACS
#--------------------------------------------------------------------------------
# .emacs.d/
# !.emacs.d/packages/*
# !.emacs.d/tramp



# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
