! Fix up xterms keybindings
xterm*Background: white
xterm*Foreground: black
/*
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
*/


/* Fix up xterms keybindings */
 xterm*VT100.translations:	#override \n\
	Super<Key>Left:       string(0x1b) string("[1;1D")\n\
	Super<Key>Right:      string(0x1b) string("[1;1C")

/* 
xrdb -query -all
Alt_L + Left     ^[[1;3D
Alt_R + Right    ^[[1;3C
Super_L + Left   ^[[1;1D
Super_R + Right  ^[[1;1C
Left gives       ^[[D
Right gives      ^[[C
*/

/*
	<Key>Up :           string("^[[A")\n\
	<KeyPress>Super:    string("^[[C;1")\n\
	<KeyPress>Alt:      string("^[[F;18")
*/

/*       <Key>BackSpace:    string(0x7F) \n\	
       <Key>Insert:       string(0x1b) string("[2~")\n\
       <Key>Delete:       string(0x1b) string("[3~")\n\
       <Key>Home:         string(0x1b) string("[1~")\n\
       <Key>End:	     string(0x1b) string("[4~")\n\
       <Key>Page_Up:      string(0x1b) string("[5~")\n\
       <Key>Page_Down:    string(0x1b) string("[6~")\n\
       <KeyPress>Prior : scroll-back(1,page)\n\
	<Key>Up :           string(0x1b) string("[C") */


! Other Stuff I had before like cool colours
/*
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

XTerm*background:            S_base03
XTerm*foreground:            S_base00
XTerm*fading:                40
XTerm*fadeColor:             S_base03
XTerm*cursorColor:           S_base1
XTerm*pointerColorBackground:S_base01
XTerm*pointerColorForeground:S_base1
*/


!Mode_switch <Key>Right:       string(0x1b) string("f") \n\
!Mode_switch <Key>Left:        string(0x1b) string("b") 
!/*
!<Key>Insert:            string(\001) \n\
!Shift <Key>Up:          scroll-back(1,lines) \n\
!Shift <Key>Down:        scroll-forw(1,lines) \n\
!*/